{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  {# Map #}
  <div id="map"></div>

  {# Photo #}
  <div class="dropdown profile">
    <a href="#" class="dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <img alt="{{ app.user.username }}" src="data:image/jpg;base64,{{ app.user.photo }}" />
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdown">
      <li><a href="mailto:samy.ghribi@student.ecp.fr?subject=Mise à jour de la carte des colocs">Mettre à jour</a></li>
      {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('sonata_admin_dashboard') }}" target="_blank">Admin</a></li>
      {% endif %}
      <li><a href="{{ path('logout') }}">Déconnexion</a></li>
    </ul>
  </div>

  {# Menu button #}
  <button class="menu-button toggle-menu menu-left btn btn-lg btn-info">
    <i class="fa fa-bars"></i>
  </button>

  {# Menu #}
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="colocs">
    <h3>Colocs</h3>
  </nav>

  {# Init map #}
  <script type="text/javascript">
    var map;
    var houses;
    var infowindows = [];

    var $menu = $('#colocs');

    function addMarkers (houses) {
      $.each(houses, function (index, house) {
        template =  Handlebars.compile($('#house-card').html());
        content =  template({house: house});

        var infowindow = new google.maps.InfoWindow({
          content: content
        });
        infowindows.push(infowindow);

        var marker = new google.maps.Marker({
          position: {lat: house.latitude, lng: house.longitude},
          map: map,
          icon: 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Azure-icon.png'
        });


        marker.addListener('click', function() {
          infowindow.open(map, marker);

          $.each(infowindows, function(index, infw) {
            if(infw !== infowindow) {
              infw.close();
            }
          });
        });

        $template = $('<a href="#">' + house.name + '</a>');
        $menu.append($template);
        $template.on('click', function(e) {
          e.stopPropagation();
          infowindow.open(map, marker);

          $.each(infowindows, function(index, infw) {
            if(infw !== infowindow) {
              infw.close();
            }
          });
        });
      });
    }

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 48.765165, lng:  2.288402},
        zoom: 14,
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
          position: google.maps.ControlPosition.TOP_CENTER
        },
        panControl: false,
        zoomControl: true,
        zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER
        },
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: true,
        overviewMapControl: true
      });

      // ECP
      var ecpMarker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29),
        icon: 'https://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Pink-icon.png',
        position: {lat: 48.765165, lng:  2.288402}
      });

      $.ajax({
        url: Routing.generate('app_homepage_gethouses'),
        type: 'GET',
        success: function(data) {
          addMarkers(data);
        }
      });
    }

  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=places"></script>

  {% verbatim %}
    <script id="house-card" type="text/x-handlebars-template">
      <div class="house-card">
        <h4>{{ house.name }}</h4>
        <p><i class="fa fa-fw fa-map-marker"></i> {{ house.address }}</p>
        <em>{{ house.summary }}</em>
        {{#each house.members}}
        <div class="media">
          <div class="media-left media-middle">
            <a href="https://my.ecp.fr/m/{{ cti_uid }}" target="_blank">
              <img class="media-object" src="data:image/jpg;base64,{{ photo }}" alt="{{ username }}">
            </a>
          </div>
          <div class="media-body">
            {{ first_name }} {{ last_name }}
          </div>
        </div>
        {{/each}}
      </div>
    </script>
  {% endverbatim %}
{% endblock %}
